/*---Resets-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}


html {
  scroll-behavior: smooth;
}


body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}


/*-----Variables-----*/

:root {

  /*Colors*/
  --hue: 35;
  /*HSL Color model*/
  --header-color: hsl(var(--hue) 0% 75%);
  --body-color-gray:hsl(var(--hue) 0% 95%);
  --base-color: hsl(var(--hue) 97%  52%);
  --text-color: hsl(var(--hue) 0%  0%);
  --title-color-gray: hsl(var(--hue) 0%  45%);
  --text-color-light: hsl(var(--hue) 0%  100%);
  /*Fontes*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  /*header*/
  --header-height: 4.5rem;
}


/*Layout Global*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.grid {
  display: grid; /*habilitar novas opçoes de css*/
  gap: 2rem; /*Fais um expaço por padrão entre os filhos do grid*/
}

.section {
  padding: calc(2rem + var(--header-height)) 0; /*primeiro valor vertical segundo valor horisontal*/
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
}


.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 0%, 75%, 0.34),
    hsla(var(--hue), 97%, 52%, 1)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 97%, 52%, 1),
    hsla(var(--hue), 0%, 75%, 0.34)
  );
}