/*header*/

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  
  top: 0;
  left: 0;
  z-index: 100; /*Eleva o nivel*/
  background-color: var(--header-color);
  width: 100vw;
  height: var(--header-height);
  
}

#header.scroll {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}

/*header-logo*/

.logo-img {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: var(--header-height);
  padding: 0.2rem;
}

.logo-img span {
  font: 700 1rem var(--title-font);
  color: var(--title-color-gray);
}

/*header-menu*/

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}

nav ul li {
  text-align: center;
}
  
nav ul li a {
  transition: color 0.2s;
  position: relative;
  font-size: var(--subtitle-font-size);
  font: 400 1rem var(--body-font);
  color: var(--text-color);
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';  /*sudo elemente fantasma*/
  width: 0%;
  height: 2px;
  background: var(--base-color);
  
  position: absolute; /*Sera posição absoluta do position relativo mais procimo dele no caso esta no nav ul li a acima no codigo*/
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%; 
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  
  height: 100vh; /*vh igual view port altura do dispositivo visao total */
  width: 100vw; /*Largura*/

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;


  background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(var(--title-color-gray))) no-repeat;
  background: -moz-linear-gradient(left, #CCCCCC, #000000);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');

}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {  
  gap: 4rem;
}

/* toggle menu */

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;  /*troca o cursor para mãoZinha*/
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  /*Transition top*/

  transition: 0.2s;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*Home*/
#home {
  background: var(--body-color-gray);
}

#home .title {
  text-align: center;
}

#home .image img{
  border-radius: 0.75rem;
}

#home span {
  margin-left: 1.5rem;
}

